<h1 class="ui header">
  <div class="centered">
    New article
  </div>
  <hr>
</h1>

<%= render 'form' %>

<div  class="ui hidden divider"></div>

<%= link_to articles_path, class: 'ui vertical animated inverted red button' do %>
  <div class="visible content">
    <i class="pointing left icon"></i>
  </div>
  <div class="hidden content">
    Back
  </div>
<% end %>
